@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-family: 'Calibri', sans-serif !important;
    background: linear-gradient(to right, rgba(140,209,229,255), rgba(129,144,220,255));
}

.post-box{
    position: relative;
    background: linear-gradient(to right, rgba(254,254,254,255), rgba(214,213,211,255));
    width: max-content;
    max-height: max-content;
    border-radius: 15px;
    font-size: 20px;
}

.form{
    position: relative;
    background: linear-gradient(to right, rgba(254,254,254,255), rgba(214,213,211,255));
    width: 60rem;
    max-height: max-content;
    border-radius: 15px;
    font-size: 20px;
}

.title{
    font-family: 'Calibri', sans-serif;
    text-align: center !important;
    margin: .8rem;

}

.post-box > img{
    position: absolute;
    top: 0;
    left: 0;
}


.post-box > form
{
    margin: 2rem 0 0 6rem;

}

input[type="text"] {
    border-radius: 25px; /* Rende il bordo ovale */
    padding: 10px; /* Aggiunge spazio interno per un aspetto migliore */
    width: max-content; /* Imposta una larghezza desiderata per il campo di input */
    font-size: 16px; /* Regola la dimensione del testo */
    box-sizing: border-box; /* Garantisce che padding e bordo non aumentino la dimensione totale dell'input */

}

.div-divcontent {
    display: flex;
    flex-direction: column;
}

.catalogo{
    border-radius: 25px; /* Rende il bordo ovale */
    padding: 10px; /* Aggiunge spazio interno per un aspetto migliore */
    width: max-content; /* Imposta una larghezza desiderata per il campo di input */
    font-size: 20px; /* Regola la dimensione del testo */
    box-sizing: border-box; /* Garantisce che padding e bordo non aumentino la dimensione totale dell'input */
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    height: max-content;
}

.catalogo > ul{
    list-style: none;
}

.post-box > form > *
{
    margin-bottom: .05rem;
}


.catalogo > img{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
}

.catalogo > h3{
    margin-left: 4rem;
}

.divisione_content{

    display: flex;
    flex-direction: row;
    grid-auto-rows: 15px;
    column-gap: 25px;
}

.aggiungi_prodotto{
    border-radius: 25px; /* Rende il bordo ovale */
    padding: 10px; /* Aggiunge spazio interno per un aspetto migliore */
    width: max-content; /* Imposta una larghezza desiderata per il campo di input */
    font-size: 20px; /* Regola la dimensione del testo */
    box-sizing: border-box; /* Garantisce che padding e bordo non aumentino la dimensione totale dell'input */
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    height: max-content;
}

.aggiungi_prodotto > img{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
}

.aggiungi_prodotto > h3{
    margin-left: 5rem;
}


p > .text_box {

    /* Imposta una larghezza desiderata per il campo di input */
    font-size: 21px; /* Regola la dimensione del testo */
    box-sizing: border-box; /* Garantisce che padding e bordo non aumentino la dimensione totale dell'input */
    padding-top: 2rem;
    height: max-content;
    margin-left: 2rem;
    margin-right: 2rem;
}

.button {
    border: 2px solid orange;
    border-radius: 25px;
    padding: 10px;
    background: rgba(252, 155, 15, 0.6);

}

.logout{
    border: 2px solid rgba(53,168,246,1);
    border-radius: 25px;
    padding: 10px;
    background: rgba(53,168,246, 0.5);
    margin-bottom: 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

.display{
    flex-direction: row;
}

.postimg{
    padding: 15px !important;
    width: 50% !important;
    height: auto !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Applica l'ombra */
    border-radius: 8px; /* (Opzionale) Arrotonda gli angoli */


}

.like{
    padding-left: 3rem;
}


.card-body {
    background: linear-gradient(to right, rgba(254,254,254,255), rgba(214,213,211,255));
    border-radius: 20px;
}
.comments-section {
    margin-top: 40px;
    border-radius: 20px;
}
.comment-card {
    margin-bottom: 15px;
    border-radius: 20px;
}
.username {
    font-weight: bold;
    background: linear-gradient(to right, rgba(140,209,229,255), rgba(129,144,220,255));
    border-radius: 20px;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

