.form{
    background: linear-gradient(to right, rgba(254,254,254,255), rgba(214,213,211,255));
    width: 50%;
    padding-inline: 6em;
    padding-top: 0.5em;
    border-radius: 15px;
    margin: 6em auto;
    font-size: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}



.img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.propic{
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.divisione_content{
    display: flex;
    flex-direction: column;
    column-gap: 25px;
}

.password-container {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    max-width: max-content;
    margin: auto;
    background-color: transparent;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.password-input {
    padding: 10px;
    outline: none;
}
.container-account{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    max-width: max-content;
    margin: auto;
    background-color: transparent;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.description-container {
    width: 60%;
    height: 10em;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    resize: none;
}

.center{
    margin: auto;
}

.buttons-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem !important;
}

.delate-profile{
    margin: auto;
    width: max-content;
    font-size: 16px;
    border-radius: 5px;
    border-color: darkred;
    background-color: crimson;
    color: white;
}

.save-changes{
    margin: auto;
    width: max-content;
    font-size: 16px;
    border-radius: 5px;
    border-color: darkblue;
    background-color: royalblue;
    color: white;
}

.upload-btn.icon-btn {
    position: absolute;

    background: rgba(0, 0, 0, 0.6); /* Sfondo semi-trasparente */
    color: white; /* Colore dell'icona */
    padding: 5px;
    border-radius: 50%; /* Per avere un'icona arrotondata */
    font-size: 14px; /* Dimensione dell'icona */
    cursor: pointer;
}

.upload-btn.icon-btn:hover {
    background: rgba(0, 0, 0, 0.8); /* Cambia il colore al passaggio del mouse */
}

/* Style per il Modal */
.modal {
    display: none; /* Nascosto di default */
    position: fixed; /* Fisso sulla pagina */
    z-index: 1; /* Appare sopra gli altri contenuti */
    left: 0;
    top: 0;
    width: 60%; /* Larghezza piena della finestra */
    height: 100%; /* Altezza piena della finestra */
    overflow: auto; /* Scrolling se necessario */
    background-color: rgb(0, 0, 0); /* Colore di sfondo */
    background-color: rgba(0, 0, 0, 0.4); /* Contraso per l'overlay */
}

/* Contenuto del Modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Impostiamo la larghezza */
    text-align: center;
}

/* Bottoni per chiudere */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}