body {
    align-items: center;

    background: linear-gradient(to bottom, #41a687, #9eedd1);
}

.invisible-button{

    background-color: transparent;
    border: none;

}

a .invisible-button::before, a .invisible-button::after {
    pointer-events: none;
}

.form {
    background: linear-gradient(to right, rgb(60 179 113 / 0%), rgb(215 255 233));
    border-radius: 20px;
    box-sizing: border-box;
    height: max-content;
    padding: 3% 10%;
    margin: 7em auto;
    width: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

#choice-user{
    display: flex;
}
.form-check{
    margin-right: 1em;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: rgb(255 255 255);
    border-radius: 12px;
    border: 2px solid black;
    color: #000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 80%;
}

.cut1 {
    background-color: rgba(139, 239, 184, 0);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
}
.cut2 {
    background-color: rgba(60, 179, 113, 0);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut3 {
    background-color: rgba(60, 179, 113, 0);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
}
.cut4 {
    background-color: rgba(60, 179, 113, 0);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 79px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut1,
.input:not(:placeholder-shown) ~ .cut1 {
    transform: translateY(8px);
    background-color: rgb(60, 179, 113);

}
.input:focus ~ .cut2,
.input:not(:placeholder-shown) ~ .cut2 {
    transform: translateY(8px);
    background-color: rgb(60, 179, 113);
}
.input:focus ~ .cut3,
.input:not(:placeholder-shown) ~ .cut3 {
    transform: translateY(8px);
    background-color: rgb(60, 179, 113);
}
.input:focus ~ .cut4,
.input:not(:placeholder-shown) ~ .cut4 {
    transform: translateY(8px);
    background-color: rgb(60, 179, 113);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #fffefe;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 20%;
    min-width: fit-content;
}

.submit:active {
    background-color: #06b;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}

.upload-label {
    background-color: #08d;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 2rem;
}

.upload-label:active {
    background-color: #06b;
}

#img {
    display: none;
}

.image-preview {
    margin: auto;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius:50%;
}